# Copy to .dev.vars for local Wrangler development.
# Do not commit .dev.vars.

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_BACKUP_CLIENT_ID=
GITHUB_BACKUP_CLIENT_SECRET=
GITHUB_NATIVE_CLIENT_ID=
GITHUB_NATIVE_CLIENT_SECRET=
FANDOM_PRESET_GITHUB_TOKEN=
IMAGE_HOST_TOKEN=
MORAN_B2_DISTRIBUTION_TOKEN=
MORAN_OPENLIST_AUTH_TOKEN=

FANDOM_PRESET_REPO_OWNER=
FANDOM_PRESET_REPO_NAME=
FANDOM_PRESET_BASE_BRANCH=main
MORAN_B2_DISTRIBUTION_BASE_URL=https://f004.backblazeb2.com/file/bacon111
MORAN_B2_DISTRIBUTION_RELEASE_PREFIX=moranjianghu
MORAN_OPENLIST_API_BASE_URL=http://159.138.7.126:5244
MORAN_OPENLIST_DIRECT_BASE_URL=http://159.138.7.126:5244
